<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/login">Connexion</a></li>
            <li><a href="/sinscrire">Inscription</a></li>
            <li><a href="/logout">Deconnexion</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        background-color: lightblue;
        padding: 0.5em 1em;
        border-radius: 10px;

        ul {
            display: flex;
            gap: 1em;
        }

        li {
            list-style-type: none;
        }
    }
</style>